/* line 1, jquery.reddebox.css.scss */
#redde-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background: #000;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

/* line 6, jquery.reddebox.css.scss */
#redde-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
  /* line 9, jquery.reddebox.css.scss */
  #redde-box #redde-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    background-repeat: no-repeat;
    background-position: center; }
    /* line 12, jquery.reddebox.css.scss */
    #redde-box #redde-container #wrap-redde-container {
      width: 100%;
      height: 100%; }
    /* line 14, jquery.reddebox.css.scss */
    #redde-box #redde-container.resize-show-photo img {
      width: 100%;
      height: 100%; }
    /* line 17, jquery.reddebox.css.scss */
    #redde-box #redde-container.resize-show-photo .redde-close,
    #redde-box #redde-container.resize-show-photo .redde-prev,
    #redde-box #redde-container.resize-show-photo .redde-next {
      display: none; }
    /* line 19, jquery.reddebox.css.scss */
    #redde-box #redde-container.ui-draggable img {
      cursor: move; }
  /* line 21, jquery.reddebox.css.scss */
  #redde-box .redde-desc {
    display: none;
  }
  #redde-box .redde-prev, #redde-box .redde-next {
    display: block; 
    background: red;
    width: 40px; height: 100px;
    position: absolute; top: 50%; margin-top: -50px;
  }
  #redde-box .redde-prev {
    left: 10px;
  }
  #redde-box .redde-next {
    right: 10px;
  }
  /* line 22, jquery.reddebox.css.scss */
  #redde-box .redde-close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 11px;
    height: 11px;
    background: url('reddebox-close.png?1352852821') no-repeat 0 0; }
